$standardFontSize: 1rem;

$backgroundColour: hsl(55, 75%, 95%);
$defaultColour: hsl(0, 0%, 0%);

$buttonBackground: hsl(235, 100%, 95%);
$buttonBorder: hsl(234, 18%, 77%);
$buttonHover: hsl(234, 40%, 90%);

$historyBackground: hsl(55, 92%, 80%);
$historySize: 2em;

$boiling: hsl(0, 98%, 25%);
$hot: hsl(1, 100%, 34%);
$warm: hsl(1, 98%, 45%);
$cold: hsl(210, 100%, 33%);
$freezing: hsl(210, 100%, 24%);
